.btn1 {
    width: 33.3%;
    height: 33.3%;
    font-size: 20px;
    border-radius: 25%;
}

.btn2 {
    width: 66.6px;
    height: 66.6px;
    font-size: 20px;
    border-radius: 25%;
}

#numDiv {
    width: 200px;
    height: 200px;
}

#funDiv {
    width: 200px;
    height: 200px;
}

#symbolDiv {
    margin-left: 200px;
    margin-top: -466.6px;
    writing-mode: vertical-lr;
    float: left;
}

#outDiv {
    margin-left: 0px;
    margin-top: -466.6px;
    writing-mode: horizontal-tb;
    float: left;
}

.text1 {
    font-size: 25px;
}

#textDiv {
    width: 500px;
    height: 150px;
}

#pDiv {
    margin: auto;
}